<section id="banner">

  <img src="../../../../assets/img/img0.jpeg" alt="...">

</section>

<section id="img" style="margin-top: 3%;">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/img7.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(6, 176, 11);">Card title</h5>
            <p class="card-text" style="color: rgb(3, 28, 252); text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-warning">Acceder</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/img6.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(6, 176, 11);">Card title</h5>
            <p class="card-text" style="color: rgb(3, 28, 252); text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-warning">Acceder</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/img5.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(6, 176, 11);">Card title</h5>
            <p class="card-text" style="color: rgb(3, 28, 252); text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-warning">Acceder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 </section> 

 <section id="cartas" style="margin-top: 3%; background-color: black;">

  <div class="container text-center">
    <div class="row">
      <div style="margin-top: 3%; width: 30%;">
        <img src="../../../../assets/img/img4.jpeg" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        <div style="margin-top: 3%; width: 90%;">
          <div class="card-body" style="background-color: black; ">
            <h5 class="card-title" style="color: aliceblue;">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" style="color: aliceblue;">Card subtitle</h6>
            <p class="card-text" style="color: aliceblue;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link" style="color: aliceblue;">Card link</a>
            <a href="#" class="card-link" style="color: aliceblue;">Another link</a>
          </div>
        </div>
      </div>
     </div>

     <div class="row">
      <div class="col">
            <div class="card-body" style="background-color: black; ">
            <h5 class="card-title" style="color: aliceblue;">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" style="color: aliceblue;">Card subtitle</h6>
            <p class="card-text" style="color: aliceblue;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link" style="color: aliceblue;">Card link</a>
            <a href="#" class="card-link" style="color: aliceblue;">Another link</a>
          </div>
        </div>
        <div  style="margin-bottom: 3%; width: 30%;padding-bottom: 2%;">
          <img src="../../../../assets/img/img1.jpeg" class="img-thumbnail" alt="...">
        </div>
      </div>
    
     </div>

 
</section>



