<section id="banner">

  <img src="../../../../assets/img/img0.jpeg" class="img-fluid" alt="...">

</section>
<hr class="border border-danger border-2 opacity-50">

<section id="img" style=" background-color: #fc83a9;">
  <div class="container text-center">
    <div class="row" style=" padding:5% 10% 5% 10%;">
      <div class="col" >
        <div class="card" style="width: 18rem;background-color: rgba(255, 255, 255, 0.845);">
          <img src="../../../../assets/img/img7.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <br> <h5 class="card-title" style="color: rgb(6, 176, 11);">Gomitas de Sandía</h5>
            <p class="card-text" style="color: rgb(104, 5, 119); text-align: justify;"><br>Sandía  75 g <br>Naranja 1⁄4 piece <br>Gelatina en polvo 1⁄2 Tbsp<br>Vainilla en polvo 0 tsp</p>
            <br> <a href="https://guac.com/es/recetas/marinka-bil/gomitas-de-sandia" class="btn btn-warning">Receta completa</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; background-color: rgba(255, 255, 255, 0.845);">
          <img src="../../../../assets/img/img6.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(6, 176, 11);">Gomitas de Limón</h5>
            <p class="card-text" style="color: rgb(104, 5, 119); text-align: justify;">1⁄2 taza de jugo de limón recién exprimido <br>1 cucharadita de ralladura de limón <br>1⁄2 taza de agua <br>1⁄2 taza de maicena <br>10 gr de mantequilla o aceite vegetal</p>
            <a href="https://hacerydeshacer.com/gomitas-de-limon/" class="btn btn-warning">Receta completa</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; background-color: rgba(255, 255, 255, 0.845);">
          <img src="../../../../assets/img/img5.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(6, 176, 11);">Gomitas de Durazno <br> (con chamoy)</h5>
            <p class="card-text" style="color: rgb(104, 5, 119); text-align: justify;">1⁄2 lata de Duraznos en Almíbar<br> 1 cda de fécula de maíz <br>Azúcar <br>Chile piquín<br> 2 sobres de grenetina<br> Chamoy</p>
            <a href="https://www.clementejacques.com.mx/gomitas-de-durazno-enchiladas/" class="btn btn-warning">Receta completa</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 </section> 

 <section id="cartas" style=" background-color: #fc83a9; ">

  <div class="container text-center">
    <div class="row" style="padding-top: 5%;">
      <div style="margin-top: 3%; width: 30%;">
        <img src="../../../../assets/img/img4.jpeg" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        <div style="margin-top: 3%; width: 90%;">
          <div class="card-body" style="background-color:#fc83a9; ">
            <h5 class="card-title" style="color: aliceblue;">Mango enchilado</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" style="color: aliceblue;">Gomitas ácidas</h6>
            <p class="card-text" style="color: aliceblue;">Es el producto preparado con mango natural deshidratado, empanizado con una mezcla de ingredientes para proporcionarle un sabor picante, acidificado, sazonado con sal y elaborado hasta adquirir una consistencia adecuada.</p>
            <a href="#" class="card-link" style="color: aliceblue;">Ver receta</a>
          </div>
        </div>
      </div>
     </div>

     <div class="row" style="padding-top: 5%;">
      <div class="col">
            <div class="card-body" style="background-color: #fc83a9; ">
            <h5 class="card-title" style="color: aliceblue;">Gusanitos</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" style="color: aliceblue;">Gomitas dulces</h6>
            <p class="card-text" style="color: aliceblue;">Son un producto de golosinas que han sido populares durante décadas. Con una textura masticable y un sabor dulce, estas gomitas tienen forma de gusanos y vienen en varios colores brillantes y llamativos.</p>
            <a href="#" class="card-link" style="color: aliceblue;">Ver receta</a>
          </div>
        </div>
        <div  style="margin-bottom: 3%; width: 30%;padding-bottom: 2%;">
          <img src="../../../../assets/img/img1.jpeg" class="img-thumbnail" alt="...">
        </div>
      </div>
    
     </div>

 
</section>

<div class="b-example-divider"></div>

<section style="padding-left: 2%; padding-right: 2%; margin-top: 2%;">
  <footer class="py-3 my-4" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
  </footer>
</section>


